{% extends 'base.html.twig' %}


{% block nav_series %} active {% endblock %}



{% block body %}

<h1> Série : {{serie.title}} </h1>
<hr>
<br>
<h2>Saison : {{saisons.number}}</h2>
<br>

<iframe width="356" height="200" src="{{serie.youtubeTrailer}}" frameborder="0" allowfullscreen></iframe>
<iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="300"
    height="200"
    src="{{serie.youtubeTrailer}}">
</iframe>
<h3>Les Episodes :</h3>
<br>
<ul>
    {% for episode in episodes %}
        <li><strong>Episode n° {{episode.number}}  : </strong>{{episode.title}}    <em>{{episode.imdb}}</em></li>
    {% else %}
        <span>No episodes found</span>
    {% endfor %}
</ul>


{% endblock %}