{% extends 'base.html.twig' %}

{% block nav_series %} active {% endblock %}

{% block body %}
<h1>Les séries</h1>
<hr>
<h4><a href="{{path('genre')}}">Afficher les series par genre<a></h4>
<h4><a href="">Afficher les series par pays<a></h4>

<div> {{knp_pagination_render(series) }}</div>

<ul>
    {% for serie in series %}
        <li>
           <h3><a href="{{ path('saisons_serie', {'id': serie.id}) }}">{{ serie.title }} </a></h3>
            <br>
            <img src="{{ path('poster_get', {'id': serie.id}) }}">
            {% if app.user %}
            <br>
            <form action="">
                <button type="submit" class="btn btn-success">Suivre cette série</button>
            </form>
            {% endif %}
        </li>
        <br>
    {% else %}
        <span>No records found</span>
    {% endfor %}
    <div> {{knp_pagination_render(series) }}</div>
   

</ul>



{% endblock %}