{% extends 'base.html.twig' %}


{% block nav_series %} active {% endblock %}



{% block body %}

<h1> Série : {{serie.title}}</h1>
<hr>
<br>


<h3>Les Saisons de {{serie.title}} :</h3>

<ul>
    {% for saison in saisons %}
        <li> <a href="{{ path('episode_saison',{'id': saison.id}) }}">Saison {{saison.number}}</a></li>  <em>{{serie.imdb}}</em></li>
    {% else %}
        <span>No seasons found</span>
    {% endfor %}
</ul>


{% endblock %}