{% extends 'base.html.twig' %}


{% block nav_series %} active {% endblock %}



{% block title %}La Vidéothèque - Admin{% endblock %}

{% block body %}
<h1> Modération des Commentaires</h1>
<hr>

{% for rating in ratings %}
    <div class="card border-primary mb-3" style="max-width: 60rem;">
        <div class="card-header">Commentaire de {{ rating.user.name }} écrit le {{ rating.date|date("d/m/Y H:i:s", '+01:00 GMT')  }}</div>
        <div class="card-body">
            <h4 class="card-title">Note : {{ rating.value }}/5</h4>
            <p class="card-text">
                {{ rating.comment }}
            </p>
        </div>
        <a class="btn btn-danger" href="{{ path('remove_rating', {'id': rating.id}) }}" role="button"> Supprimer ce commentaire </a>
    </div> 
    
{% endfor %}




{% endblock %}
